In [1]:
import pandas as pd
import numpy as np

In [2]:
asia_1 = pd.read_excel("Data/asia_1.xlsx")
asia_2 = pd.read_excel("Data/asia_2.xlsx")
asia_1df= pd.DataFrame(asia_1)
asia_2df= pd.DataFrame(asia_2)
asia_2df.drop(asia_2df.columns[asia_2df.columns.str.contains(
    'unnamed', case=False)], axis=1, inplace=True)
asia_df= asia_1df.merge(asia_2df)
asia_df

,Country,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,Average Difference 2019 to 2022
0,Australia,30.709187,16.679041,12.893905,16.362220,2.815073,1.947896,-1.830124,5.206418,3.691769,1.777237,0.3639
1,Bangladesh,-2.409839,-2.211401,-1.981427,-2.446321,7.319412,7.881873,3.448054,6.938679,7.099829,6.025446,NaN
2,Bhutan,0.984469,3.134047,3.435158,4.177681,3.835341,4.425452,-2.347745,-3.332399,4.757222,5.327911,NaN
3,Brunei Darussalam,0.296187,1.560646,0.753845,1.675313,0.052371,3.868844,1.133573,-1.590762,-1.628319,-0.768429,NaN
4,Cambodia,-0.481515,-33.661112,29.885092,2.072881,7.469169,7.054107,-3.096007,3.026389,5.238913,5.647004,NaN
5,"China, P.R.: Hong Kong",75.577418,12.770503,-32.986633,-17.768047,2.846921,-1.672432,-6.544799,6.441724,-3.476330,4.393917,NaN
6,"China, P.R.: Macao",-1.163257,2.099756,2.146024,3.734775,6.464503,-2.511843,-54.235915,19.267158,-26.760990,74.400000,NaN
7,"China, P.R.: Mainland",0.596953,-0.859423,1.124871,0.775589,6.750863,5.950966,2.242039,8.449611,2.988781,5.010125,NaN
8,Fiji,5.296087,-0.569085,0.496591,0.502513,3.812351,-0.580504,-17.039871,-4.881036,20.016464,7.458878,NaN
9,India,5.520352,0.339546,-0.532149,3.710089,6.453839,3.871461,-5.831035,9.050260,7.239727,6.331976,NaN
10,Indonesia,-1.528642,-1.028087,2.777383,0.388395,5.174292,5.019288,-2.065512,3.703055,5.308595,4.971284,NaN
11,Japan,2.080025,1.595813,1.601968,1.343541,0.643409,-0.402187,-4.242172,2.229917,1.046674,1.956583,NaN
12,Kiribati,5.389870,3.251851,3.899205,5.264212,5.278832,-2.145676,-1.384183,7.886343,1.153888,2.577077,NaN
13,"Korea, Republic of",2.701631,4.284838,6.100536,5.026871,2.907409,2.243972,-0.709415,4.304740,2.612667,1.445190,NaN
14,Lao People's Democratic Republic,3.613033,3.471709,3.851238,3.920415,6.289033,4.652000,-0.434963,2.061387,2.252135,3.967024,NaN
15,Malaysia,5.700533,3.417884,-0.471182,7.731269,4.843139,4.413220,-5.456855,3.297681,8.650309,3.960239,NaN
16,Maldives,-3.754994,-2.697489,-3.534762,-4.274750,8.123129,6.883689,-33.360519,41.746623,13.863351,8.068151,NaN
17,"Marshall Islands, Republic of",1.667357,9.378884,4.745848,3.279593,5.656071,10.313741,-2.901397,1.028199,-4.453561,3.000000,NaN
18,"Micronesia, Federated States of",1.894289,-0.899442,0.188193,0.665124,0.211658,1.200000,-2.806571,-2.188526,-0.555713,2.603351,NaN
19,Mongolia,1.541624,1.675664,2.101537,1.679125,7.744881,5.602245,-4.557752,1.636770,5.032710,5.500000,NaN
20,Myanmar,5.593145,7.170246,6.531025,4.635087,6.404977,6.750460,3.189416,-17.937795,1.970960,2.582971,NaN
21,Nepal,3.491667,3.591667,3.675000,3.683333,7.622376,6.657056,-2.369621,4.838150,5.613193,0.771913,NaN
22,New Zealand,3.202454,2.809103,2.946882,3.159636,3.524238,3.071752,-1.464442,6.058741,2.651777,1.120599,NaN
23,Palau,5.593674,3.733480,1.443890,2.040816,1.260919,1.357494,-7.040133,-13.362077,-1.964304,0.800000,NaN
24,Papua New Guinea,-2.048309,-21.514210,-0.679240,9.983387,-0.279252,4.480464,-3.167385,0.069587,4.347708,3.048495,NaN
25,Philippines,6.048235,4.560563,2.368957,1.228124,6.341490,6.118518,-9.518303,5.714728,7.570349,5.320657,NaN
26,Samoa,32.705733,23.342457,26.523508,30.768309,-0.609646,4.451859,-3.108586,-7.078696,-5.309638,8.010610,NaN
27,Singapore,1.700000,1.825000,1.900000,1.975000,3.575433,1.331261,-3.901053,8.882354,3.646972,1.040000,NaN
28,Solomon Islands,-6.467066,-22.800464,-0.386622,8.602490,2.744968,1.748550,-3.381858,-0.565230,-4.070833,2.506440,NaN
29,Sri Lanka,2.512684,1.484798,1.277288,1.994955,2.310064,-0.220476,-4.624506,3.512216,-7.823977,NaN,NaN
30,Taiwan Province of China,-1.313700,-1.049921,-0.625371,-1.835281,2.786770,3.063950,3.386636,6.527663,2.354238,0.842569,NaN
31,Thailand,3.136867,0.366522,4.688756,6.317305,4.222870,2.114558,-6.066926,1.468492,2.643322,2.700006,NaN
32,"Timor-Leste, Dem. Rep. of",8.083990,7.576493,10.439292,2.710843,-0.689947,2.081484,-8.282002,2.852567,3.900000,1.500000,NaN
33,Tonga,-3.536386,-1.564410,-3.600463,-0.844233,0.241224,0.706463,0.488649,-2.667490,-1.961778,2.558116,NaN
34,Tuvalu,4.720266,4.745117,5.372868,5.247526,1.387251,13.821984,-4.274832,1.804062,0.677335,3.852801,NaN
35,Vanuatu,2.540585,1.692111,7.121812,3.413242,2.900230,3.241188,-4.992491,0.648123,1.850101,1.483511,NaN
36,Vietnam,0.464307,1.674222,0.767667,1.847050,7.465007,7.359263,2.867221,2.559762,8.019792,4.700000,NaN

In [3]:
asia_df.mean(axis=1)

C:\Users\ridhw\AppData\Local\Temp\ipykernel_11256\2337587568.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  asia_df.mean(axis=1)

0      8.237866
1      2.966431
2      2.439714
3      0.535327
4      2.315492
5      3.958224
6      2.344021
7      3.303038
8      1.451239
9      3.615407
10     2.272005
11     0.785357
12     3.117142
13     3.091844
14     3.364301
15     3.608624
16     3.106243
17     3.171473
18     0.031236
19     2.795680
20     2.689049
21     3.757473
22     2.708074
23    -0.613624
24    -0.575875
25     3.575332
26    10.969591
27     2.197497
28    -2.206963
29     0.047005
30     1.413755
31     2.159177
32     3.017272
33    -1.018031
34     3.735438
35     1.989841
36     3.772429
dtype: float64

In [14]:
asia_future= pd.read_excel("Data/asia_future.xlsx")
asia_future

,Country,2024,2025,2026,2027,2028
0,Australia,1.426390,2.098256,0.763555,0.277858,0.101112
1,Bangladesh,6.000000,6.600000,2.401740,0.873993,0.318046
2,Bhutan,3.036709,4.577544,1.665768,0.606173,0.220586
3,Brunei Darussalam,3.514957,2.830207,1.029912,0.374785,0.136384
4,Cambodia,6.133656,6.388535,2.324788,0.845990,0.307856
5,"China, P.R.: Hong Kong",2.891275,2.879891,1.047992,0.381364,0.138779
6,"China, P.R.: Macao",27.160253,14.537576,5.290224,1.925112,0.700548
7,"China, P.R.: Mainland",4.599235,4.090119,1.488394,0.541627,0.197098
8,Fiji,3.912965,3.681578,1.339726,0.487526,0.177411
9,India,6.505934,6.479104,2.357746,0.857984,0.312220
10,Indonesia,5.012165,4.956981,1.803845,0.656419,0.238871
11,Japan,0.906275,0.796074,0.289691,0.105419,0.038362
12,Kiribati,2.413434,2.307766,0.839796,0.305602,0.111209
13,"Korea, Republic of",2.300259,2.250367,0.818908,0.298001,0.108442
14,Lao People's Democratic Republic,4.006779,4.122859,1.500308,0.545962,0.198676
15,Malaysia,4.272987,4.410133,1.604847,0.584004,0.212519
16,Maldives,5.000000,6.500000,2.365350,0.860751,0.313227
17,"Marshall Islands, Republic of",3.000000,2.000000,0.727800,0.264846,0.096378
18,"Micronesia, Federated States of",3.123423,1.884247,0.685677,0.249518,0.090800
19,Mongolia,4.500000,3.500000,1.273650,0.463481,0.168661
20,Myanmar,2.639434,2.528485,0.920116,0.334830,0.121845
21,Nepal,4.983548,5.220682,1.899806,0.691339,0.251578
22,New Zealand,1.131198,2.386399,0.868411,0.316015,0.114998
23,Palau,12.400000,11.900000,4.330410,1.575836,0.573447
24,Papua New Guinea,5.038913,3.102374,1.128954,0.410826,0.149500
25,Philippines,5.961330,6.073121,2.210009,0.804222,0.292656
26,Samoa,3.600000,3.424240,1.246081,0.453449,0.165010
27,Singapore,2.146410,2.458233,0.894551,0.325527,0.118459
28,Solomon Islands,2.421060,3.037188,1.105233,0.402194,0.146358
29,Sri Lanka,0.000000,0.000000,0.000000,0.000000,0.000000
30,Taiwan Province of China,2.965883,2.763160,1.005514,0.365907,0.133153
31,Thailand,4.400000,1.981328,0.721005,0.262374,0.095478
32,"Timor-Leste, Dem. Rep. of",3.100000,3.100000,1.128090,0.410512,0.149385
33,Tonga,2.528697,2.206172,0.802826,0.292148,0.106313
34,Tuvalu,3.456531,2.406270,0.875642,0.318646,0.115955
35,Vanuatu,2.614365,3.501575,1.274223,0.463690,0.168737
36,Vietnam,5.800000,6.941856,2.526141,0.919263,0.334520